body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    background-color: rgb(40, 40, 40);
    border-bottom: 2px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 200px;
    margin-bottom: -20px;
    margin-top: -20px;
    padding-left: 30px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 20vw;
    padding-right: 50px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header a:hover {
    color: rgb(171, 171, 171);
}
