body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    background-color: rgb(40, 40, 40);
    border-bottom: 2px solid black;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 200px;
    margin-bottom: -20px;
    margin-top: -20px;
    padding-left: 30px;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.header a:hover {
    color: rgb(171, 171, 171);
}

#fastFacts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 10px;
}

.gridItem {
    padding: 20px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 2px solid black;
    text-align: center;
}

.compare {
    background-color: rgb(40, 40, 40);
    width: calc(100vw - 40px);
    margin: 10px;
    padding: 10px;
}

.compare img {
    width: calc(100% - 5px);
    max-height: 150px;
    object-fit: cover;
    border: 2px solid black;
}

.comparison {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.col1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    width: 100vw;
    background-color: rgb(40, 40, 40);
    border-top: 2px solid black;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    color: white;
    font-size: 20px;
}

.footer p {
    padding-right: 30px;
}

#moons {
    margin-top: 20px;
    margin-left: 18vw;
    display: grid;
    width: 500px;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;
    background-color: rgb(40, 40, 40);
    color: white ;
    padding: 40px;
    border-radius: 10px;
}

#moons h3 {
    grid-column: 1 / -1;
    margin-left: 200px;
}

.moon {
    text-align: center;
}

.moon img {
    width: 200px;
    cursor: pointer;
    margin-left: 40px;
}

.moon p{
    margin-left: 70px;
}

.text {
    display: none;
    margin-top: 8px;
}

#intro{
    margin-top: 25px;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

#timeline{
    margin-top: 25px;
    margin-left: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 20px;
    background-color: rgb(40, 40, 40);
    color: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
}

#resources{
    
}